/**
 * @deprecated 1.0.0 - This file is for backwards compatibility with the Hybrid parent theme.  It will
 * be removed in a future version.
 */
#container {
	float: right;
}
.content {
	float: right;
}
#primary {
	float: left;
}
#secondary {
	float: left;
	clear: left;
}
