/**
 * Theme Name: NV5 Theme
 * Description: A blank child of the Hybrid theme framework
 * Author:  Milo Jennings
 * Version: 1.0
 * Template: hybrid
 */

/**
* Import pre-made styles from Hybrid
************************************************/

/* Eric Meyer's reset.css */
	/* @import url('../hybrid/library/css/reset.css'); */

/* 18px, 20px, 21px, 22px, 24px or 25px margins and line-height (don't use reset.css with these) */
	/* @import url('../hybrid/library/css/18px.css'); */
	/* @import url('../hybrid/library/css/20px.css'); */
	/* @import url('../hybrid/library/css/21px.css'); */
	/* @import url('../hybrid/library/css/22px.css'); */
	 @import url('../hybrid/library/css/24px.css'); 
	/* @import url('../hybrid/library/css/25px.css'); */

/* Layout */ 

	 @import url('css/left-sidebar.css'); 
	/*@import url('css/right-sidebar.css');*/

/* Plugins CSS */
	 @import url('../hybrid/library/css/plugins.css'); 

/* Drop-downs CSS */
	 @import url('../hybrid/library/css/drop-downs.css'); 


/*@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
/*	min-height: 100%;*/
}
body {
	font: normal normal normal 15px/21px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #000;
	background: #dfdfdf;
	position: relative;
	min-height: 720px;
	height: 100%;
}
.cityscape{
	width: 100%;
	height: auto;
	position: absolute;
	position: fixed;
	bottom: 0;
	z-index: -1;
	min-width: 950px;
	/*background: url(images/cityscape-bg.png); */
}
#body-container {
	margin: 0 auto;
	width: 950px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#container {
	margin-bottom: 10px;
	width: 950px;
	background: #fff;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#inner{
	padding: 12px 10px;
	overflow: hidden;
}
.content {
	margin: 0 0 21px 0;
	width: 610px;
	padding: 20px;
	color: #807a70;
	font: 300 16px 'Kreon', Palatino, "Garamond Premier Pro", "Adobe Garamond", Garamond, Georgia;
}
.content strong{
	font-weight: 400;
	color: #656057;
}
.singular .content {
	background-color: #f1efed;
	min-height: 565px;
	margin-bottom: 0;
	box-shadow: inset 0 0 30px #c4bbb3;
}
.home.no-widgets .content {margin: 0; padding: 0px;background: none; box-shadow: none; min-height: inherit; width: 940px;}
.home .entry-content{margin: 0; padding-left: 10px;	width: 940px; }

.no-widgets .content,.no-default-widgets .content {	width: 890px; }
.hentry { margin: 0 0 40px 0; position: relative;
}
.singular .hentry {	margin: 0; }

.blog .hentry{
	border: 5px #fff solid;
	padding: 20px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	background: #dcd8d3;
}
.blog .hentry .entry-meta{
	margin-bottom: 0;
	padding-top: 15px;
	border-top: 1px #ccc solid;
}

a.more-link {
	display: inline-block;
	background-color: rgb(81, 131, 177);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	color: #fff !important;
	padding: 3px 8px;
	position: absolute;
	bottom: 15px;
	right: 20px;
}

/*div#post-444.hentry {
	padding: 0;
	border: none;
	background: inherit;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div#post-444.hentry .entry-meta{
	display: none;
}
#post-444 .time-wrapper{
	display: none;
}*/

/* Primary and secondary widget areas */
.sidebar{
	width: 270px;
	position: relative;
}
#primary  {
	background-color: #dcd8d3;
	box-shadow: inset 0 0 30px #c4bbb3;
	margin-bottom: 10px;
}
#secondary .widget-inside{
	padding: 0;
	color: #666;
}
.sidebar .widget-title{
	color: #888888;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.sidebar ul{
	margin-left: 0px;
	font: 14px bebasRegular;
	word-spacing: 2px;
}

.widget-inside ul.subpages-navi {
	margin-bottom: 0;
}

.sidebar ul li{
	list-style: none;
	margin-bottom: 12px;
	position: relative;
}
.sidebar ul ul{
	margin-left: 15px;
	margin-top: 10px;
}
.sidebar ul ul li{
	list-style: none;
	margin-bottom: 6px;
}
.sidebar li.subpages-navi-current-level > a{
	background-color: rgb(81, 131, 177);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	color: #fff !important;
	padding: 3px 8px;
	display: inline-block;
}

ul.categories li, ul.archives {
	color: #777;
}
ul.categories li a, ul.archives a{
	margin-right: 3px;
}
/*.sidebar li.subpages-navi-current-level > a:before{
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	left: -10px;
	top: 5px;
	
}*/

.sidebar li a:hover{
	text-decoration: none !important;
}

.sidebar li.collapsible.subpages-navi-current-level div.hitarea {
	position: relative;
	background: url(images/dropdown-indicator.png) no-repeat center 8px !important;
}
.sidebar li.collapsible div.hitarea {
	background: url(images/dropdown-indicator.png) no-repeat 8px 6px !important;
}

.sidebar li.expandable.subpages-navi-current-level div.hitarea {
	position: relative;
	background: url(images/dropdown-indicator2.png) no-repeat center 8px !important;
}

.sidebar li.expandable div.hitarea {
	position: relative;
	background: url(images/dropdown-indicator2.png) no-repeat 8px 5px !important;
}



div.widget-wrap.widget-inside {
	padding: 20px;
}

.widget.widget_subpages_navigation {
	margin-bottom: 0;
}

a {
	color: #5183b1;
	text-decoration: none;
}

a:visited {
	color: #21759b;
}
a:hover,a:active {
	color: #335472;
}
.content a:hover{
	text-decoration: underline;
}	

h1,h2,h3,h4,h5,h6 {
	font-family: BebasRegular, sans-serif;
	color: #444444;
	font-weight: normal;
	word-spacing: 2px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 19px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
.content h2 *{
	font-weight: normal !important;
}
.content h2{
	color: #575757;
}
.content h3{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
	clear: both;
}
.page-177 h3{
	padding-top: 30px;
}
ul {
	list-style: square;
}

/* Fix lists next to floating elements */
.hentry ul, .hentry ol {
	display: inline-block;
}
/* Fix lists nested in inline-block list */
.hentry ul ul, .hentry ol ol{
	display: block;
}

hr{
/*	border-bottom: 1px solid #eee !important; */
}
.content hr{
	background: #ccc !important; 
}
blockquote {
	font-style: italic;
}
blockquote em {
	font-style: normal;
}
blockquote cite {
	font-style: normal;
	text-transform: uppercase;
}
dl {
    margin: 0 1.625em;
}
dl dd {
    margin-bottom: 1.625em;
}
abbr, acronym, dfn {
    border-bottom: 1px dotted #666666;
    cursor: help;
}
address{
	font-style: normal;
	margin: 0 0 5px;
	font-weight: normal 0 0 24px 0;
}
pre {
	padding: 9px;
	background: #f9f9f9;
	border: 1px solid #ccc;
}
code {
	padding: 0 3px;
	background: #eee;
}
pre code {
	background: transparent;
}
table {
	width: 100%;
	border-collapse: separate;
}
caption {
	font-size: .9em;
	font-style: italic;
	text-align: right;
}

.entry-content table, .comment-content table {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 1.625em;
    width: 100%;
}
.entry-content th, .comment-content th {
    color: #666666;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6em;
    text-transform: uppercase;
}
.entry-content td, .comment-content td {
    border-top: 1px solid #DDDDDD;
    padding: 6px 10px 6px 0;
}
/*td,th {
	padding: 3px 6px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
th {
	background: #eee;
}*/
.drop-cap {
	float: left;
	margin: 3px 3px 0 0;
	font: normal normal normal 47px/35px "Warnock Pro","Goudy Old Style",Palatino,"Book Antiqua",Georgia,serif;
}
.note {
	padding: 6px 9px;
	background: #eee;
	border: 1px solid #ccc;
}
.warning,.alert {
	padding: 6px 9px;
	background: #fffbbc;
	border: 1px solid #E6DB55;
}
.error {
	
}
.error code{
	overflow: scroll;
	display: block;
	padding: 5px;
	background: #666;
	color: #fff;
}
.download {
	padding: 6px 9px;
	background: #e7f7d3;
	border: 1px solid #6c3;
}
.breadcrumb {
	margin: 0 0 30px 0;
	font-size: .9em;
	font-style: italic;
	color: #666;
}
.breadcrumb a {
	color: #111;
	text-decoration: none;
}
.breadcrumb a:hover {
	/*color: #d54e21;*/
	text-decoration: underline;
}
.hentry img {
	max-width: 610px;
	height: auto;
	border: 5px #fff solid;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.sidebar img{
}
#secondary img{
	border: 5px #fff solid;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	max-width: 260px;
	height: auto;
}
#secondary  .wp-caption{
	width: 270px !important;
}
.no-widgets .hentry img {
	max-width: 950px
}
img.alignleft,img.alignright {
	margin-bottom: 10px
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px 15px 10px 0
}
img.wp-smiley {
	max-width: 12px;
	padding: 0;
	background: transparent;
	border: none
}
.wp-caption {
	max-width: 616px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}
.wp-caption .wp-caption-text {
	margin: 0;
	font: italic 110% 'Kreon',Palatino,"Garamond Premier Pro","Adobe Garamond",Garamond,Georgia;
}
.wp-caption a{
	margin: 0;
	padding: 0;
}
.wp-caption img {
	max-width: 604px;
	margin: 0 auto;
	padding: 0;
/*	border: 1px solid #666*/
}
.no-widgets .wp-caption {
	max-width: 956px
}
.no-widgets .wp-caption img {
	max-width: 946px
}
.gallery img {
	border: 1px solid #ccc
}
.avatar {
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px 15px 0 0;
	padding: 4px;
	border: 1px solid #ccc
}
#header-wrapper {
	margin: 0 0 5px 0;	position: relative;
	
}
#header-container {

}
#header {
	overflow: hidden;
}

/* @group Menu */
#primary-menu {
	overflow: visible;
	z-index: 100;
	font: 14px BebasRegular;
	position: absolute;
	right: 195px;
	bottom: 4px;
}
span.sf-sub-indicator {
	width: 10px;
	height: 10px;
	position: relative;
	display: block;
	content: "";
	background: url(images/dropdown-indicator.png) no-repeat;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	display: none;
}

/* @group 1st Tier */

/* 1st tier item */
#primary-menu li {
	margin-right: 10px
}
#primary-menu li:last-child{
	margin-right: 0;
}
/* 1st tier item link */
#primary-menu li a {
	padding: 6px 10px;
	color: #444444;
	font-weight: normal;
	letter-spacing: 1px;
}
/* 1st tier item link hover*/
#primary-menu li a:hover {
	text-decoration: none;
	color: #5183b1;
}
/* 1st tier item link - current page ancestor or current menu item */
#primary-menu div > ul > li.current-menu-item > a, #primary-menu li.current-page-ancestor > a {
	background-color: rgb(81, 131, 177);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	color: #fff;
}

/* @end */


/* @group 2nd Tier */
ul ul span.sf-sub-indicator {
	display: block;
	background: url(images/dropdown-indicator2.png) no-repeat;
	margin-top: 2px;
}

/* 2nd tier menu position */
#primary-menu li:hover ul,#primary-menu li.sfHover ul {
	top: 32px
}

/* 2nd tier container */
#primary-menu li ul {
	box-shadow: rgba(0,0,0,.3) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0,.3) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0,.35) 0px 0px 5px;
	padding: 10px;
	background: #fff;
}

/* 2nd tier item */
#primary-menu li li {
	margin-right: 0;
}

/* 2nd tier item link */
#primary-menu li li a {
	margin-right: 0;
	background: #f2f2f2;
	color: #555;
	font-size: .9em;
}
/* 2nd tier item link - current page ancestor or current menu item */
#primary-menu li li.current-page-ancestor > a, #primary-menu div > ul > li > ul > li.current-menu-item > a {
	background-color: #d7d7d7;
	color: #5183b1;
}

/* 2nd tier item link hover*/
#primary-menu li li a:hover {
	background-color: #d7d7d7;
}

/* @end */

/* @group 3rd Tier */

/* 3rd tier menu position */
#primary-menu li li:hover ul,#primary-menu li li.sfHover ul,#primary-menu li li li:hover ul,#primary-menu li li li.sfHover ul{
	top: 0px
}

/* 3rd tier menu container */
#primary-menu li li ul {
}

/* 3rd tier item */
#primary-menu li li li {
	margin-left: 0px;
}

/* 3rd tier item link */
#primary-menu li li li a {
	margin-right: 0;
	/*background: #666;
	color: #eee;*/
}

/* 3rd tier item link hover*/
#primary-menu li li li a:hover {
	/*color: #fff*/
}

#primary-menu li li li.current-menu-item > a {
	/*background: #673e3d;*/
}
/* @end */
/* @end */

#logo-wrapper{
	float: left;
	margin-left: 3px;
}

.loop-meta {
	overflow: hidden;
	margin: 0 0 20px 0
}
.loop-meta .loop-title {
	margin-bottom: 0;
}
.home .entry-title {
	display: none;
}
.entry-title {
	margin: 0 0 12px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.archive .entry-title,.search .entry-title {
	margin: 0 0 21px 0;
}
.singular-page .entry-title,.singular-attachment .entry-title {
	margin: 0 0 21px 0
}
.entry-title a {
	color: #000
}
.byline {
	margin: 0 0 30px 0;
	font-style: italic;
	color: #666
}
.archive .byline,.search .byline {
	margin: 0 0 5px 0
}
.entry-content {
	margin: 0 0 10px 0
}
.entry-meta {
	clear: both;
	font-style: italic;
	color: #666
}
p.page-links,.comment-pagination {
	clear: both
}
.comment-pagination {
	margin-bottom: 21px
}
p.page-links a,.comment-pagination .page-numbers {
	margin: 0 3px;
	padding: 3px 9px 3px 9px;
	border: 1px solid #ccc
}
.navigation-links {
	margin-bottom: 21px;
	font-style: italic
}
.navigation-links .previous {
	float: left;
	max-width: 50%
}
.navigation-links .next {
	float: right;
	max-width: 50%;
	text-align: right
}
.navigation-attachment {
	overflow: hidden
}
.widget {
	margin: 0 0 15px 0;
}
#utility-before-content,#utility-after-content,#utility-after-page,#utility-after-single {
	margin: 0 0 21px 0;
	padding: 20px 20px 0 20px;
}
#comments-template {
	clear: both;
}
.comments-header {
	font-size: 1.2em;
}
.comments-closed {
	font-style: italic;
}
ol.comment-list,ol.comment-list ol.children {
	list-style: none;
	margin: 0 0 21px 0;
}
li.comment,li li li.comment,li li li li li.comment,li li li li li li li.comment,li li li li li li li li li.comment,li.pingback,li.trackback {
	overflow: hidden;
	margin: 0 0 21px 0;
	padding: 21px 21px 0 21px;
	background: #fff;
	border: 1px solid #ccc;
}
li li.comment,li li li li.comment,li li li li li li.comment,li li li li li li li li.comment,li li li li li li li li li li.comment {
	background: #f9f9f9;
}
#comments-template .avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 15px;
	padding: 0;
	border: 1px solid #666;
}
.comment-meta {
	margin: 10px 0 21px 0;
	font-size: 13px;
	color: #666;
}
.comment-author {

}
.comment-reply-link,.permalink,.comment-edit-link {
	font-style: italic;
}
.comment-text {
	clear: left;
	margin: 0 15px;
}
.text-input {
	display: block;
	padding: 3px 6px;
	width: 97%;
}
#comments-template label {
	font-size: .9em;
}
textarea {
	width: 98%;
}
#submit {
	display: inline-block;
	margin-right: 15px;
	padding: 7px 15px 8px 15px;
	background: #fff;
	border: 1px solid #ccc;
}
#submit:hover {
	cursor: pointer;
	background: #f9f9f9;
}
#footer-container {
	clear: both;
	margin: 0;
}
#footer-container h4 {margin-bottom:10px;}
#subsidiary {
	clear: both;
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 75px;
	padding-bottom: 60px;
}
#subsidiary .widget {
	float: left;
	margin-right: 30px;
	width: 460px;
}
#subsidiary div.widget ~ div{
	margin-right: 0px;
}
#subsidiary ul{
	list-style: square;
	margin:0 0 0 15px;
	line-height:24px;
}
#subsidiary ul{
	margin:0;
	padding: 0;
	line-height:21px;
}
#subsidiary #custom_post_widget-4 p {display:none;}

#footer {

}

#footer .vcard{margin-bottom: 21px;}
#footer .vcard p{margin: 0;}
#footer .vcard p{display: inline;}
#footer .vcard .street-address{display: inline;}


/* @group tinyMCE layout entries */


/**
 *	Layout options
 */
.column{
	position: relative;
}
.layout-third, .layout-two-thirds, .layout-half, .layout-fourth, .layout-three-fourths { 
float: left; margin: 0px 6% 20px 0px;
}
.layout-third { width: 29%; }
.layout-two-thirds { width: 65%; }
.layout-half { width: 47%; }
.layout-fourth { width: 21.25%; }
.layout-three-fourths { width: 73.75%; }

.layout-last { margin-right: 0px !important; }
.clear {
	clear: both;
}

/**
 *	Quote options
 */

#content .pullquote.left, #content .pullquote.right {
	padding: 5px 5px 10px 50px;
	margin: 0px 10px 10px 0;
	max-width: 200px;
	min-width: 100px;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	display:block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 1.2em;
	position:relative;
}

#content .pullquote.right {
	float: right;
}

#content .pullquote.right {
	float: right;
}
#content .pullquote.left:before,#content .pullquote.left:right {
	content: "“ ";
	font-size: 50pt;
	position:absolute;
	left:1px;
	right:-20px;
	top:-6px;
	font-weight: bold;
	color:#888;
	font-family:arial;
}
/* @end */

#movie-wrapper {
	background: #fff;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}
#movie-inner {
	padding: 10px;
	overflow: hidden;
	position: relative;
}
.careers-photo{
	display: none;
	/*opacity: 0;*/
	position: absolute;
	top: 13px;
	left: 13px;
	z-index: 50;
}
.home .careers-photo span{
	/*	top: 10px;*/
	bottom: 10px !important;
	left: 10px !important;
	right: auto !important;
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#twitter-wrapper{
	float: left;
	margin-left: 15px;
	width: 180px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #757575;
	height: 380px;
	overflow: hidden;
}
#twitter-wrapper ul {list-style: none;margin-left: 0;}
#twitter-wrapper h2{ margin-bottom: 10px; }
#twitter-wrapper li{border-top: 2px solid #e0e0e0;padding-top: 6px; padding-bottom: 6px;}
#twitter-wrapper hr{margin: 9px 0;background-color: #e0e0e0;}
#twitter-wrapper abbr{display: block; color: #bbb; border: none;
	margin-top: 4px;}


/*#twitter-wrapper .icon-twitter{
	margin-top: 3px;
	margin-right: 10px;
}*/
.home div.box{
	float: left;
	margin-right: 10px;
	width: 172px;
	border: 3px solid #fff;
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
	text-align: center;
	background-color: #c8c4bf;
	font: 16px BebasRegular;
	height: 177px;
	overflow: hidden;
}
div.box:last-child{
	margin: 0;
}
.home div.box img{
	margin-bottom: 0px;
	border:none;
}

.home div.box p {
	margin-top: 0;
	margin-bottom: 0;
}
.home div.box strong{
	display: block;
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: normal;
	height: 42px;
	-moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid #ccc;
}
.home div.box span{
	display: block;
	height: 115px;
	background: #e0dcd6;
	padding: 5px;
	line-height: 5px;
	-moz-box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.3);
	display: table;
    position: static;
}
.home div.box em{
	font: italic 13px 'Kreon';
	display: table-cell;
	vertical-align: middle;
	color: #444444;
}

.home div.box .hover-slide{	
	padding-bottom: 0px;
}
.home div.box a{
	color: #444444;
}
.home div.box a:hover{
	color: #000;
	text-decoration: none;
}
/* @group jQuery slideshows */

.home #slides{
	width: 730px;
	height: 380px;
	float: left;
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.home .slides_container{
	width: 730px;
	height: 380px;
}
.home .slides_container div.slide{
	width: 730px;
	height: 380px;
/*	display: none;*/
	padding-top: 3px;
	padding-left: 3px;
}
.home .slide span, .careers-photo span{
	display: block;
	position: absolute;
	bottom: 50px;
	left: 10px;
	background: #fff;
	background: rgba(255,255,255,.9);
	padding: 10px;
	font-family: bebasRegular;
	color: #333;
	word-spacing: 3px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.home .slide a{
	display: block;
	position: absolute;
	bottom: 18px;
	left: 10px;
	padding: 5px 10px;
	color: #fff;
	word-spacing: 3px;
	background-color: #5183b1;
	-moz-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	font: 13px bebasRegular;
	letter-spacing: 1px;
	text-decoration: none;
}

a.button {
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	word-spacing: 3px;
	background-color: #5183b1;
	-moz-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	font: 13px bebasRegular;
	letter-spacing: 1px;
	text-decoration: none;
}

.home .slide em{
	display: block;
	position: absolute;
	bottom: 8px;
	right: 24px;
	padding: 10px;
	color: #dedede;
	word-spacing: 3px;
	text-shadow: 0 1px 5px #000000;
	font: italic 13px Palatino, "Hoefler Text", Georgia, "Times New Roman", Baskerville, serif;
}

.home .slides_container div.slide3 a{
	bottom: 28px;
	left: auto;
	right: 45px;
}
.home .slides_container div.slide3 span{
	left: auto !important;
	right: 45px;
	bottom: 65px !important;
}
.slides_container {
	width: 610px;
	position: relative;
	left: -10px;
	padding-left: 10px;
}
.slides_container .slide {
	width:590px;
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
}
.careers-photo-small img{
	margin: 0;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0) !important;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0) !important;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0) !important;
	border: none !important;
}
.careers-photo-small {
	position: relative;
	border: 5px #fff solid;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.careers-photo-small span{
	display: block;
	background: #fff;
	background: rgba(255,255,255,.9);
	padding: 5px 10px;
	font-family: bebasRegular;
	color: #333;
	word-spacing: 3px;/*
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
	margin-bottom: 5px;
	position: absolute;
	height: 22px;
	bottom: 27px;
	left: 0px;
	width: 240px;
}
.careers-photo-small a{
	display: block;
	padding: 5px 10px;
	color: #fff;
	word-spacing: 3px;
	background-color: #5183b1;
	-moz-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 01px 2px rgba(0, 0, 0, 0.5);
	font: 13px bebasRegular;
	letter-spacing: 1px;
	text-decoration: none;
}
.careers-photo-small a:hover{
	background-color: #6792ba;
}


.next, .prev, .previous{
	display: inline-block;
	background: 0 #fff;
	padding: 5px 8px;
	font-family: bebasRegular;
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.39);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.39);
	font-weight: normal;
	font-style: normal;
}
.navigation-links a:hover{
	text-decoration: none !important;
	
}
.next:hover, .prev:hover, span.previous:hover{
	text-decoration: none !important;
}
#slides .controls{
	float:right;
}
/* @end */


#extra-button-wrapper{
	position: absolute;
	right: 0;
	top: 2px;
	font: 14px bebasRegular;
}
#extra-button-wrapper a{float: left;margin-left: 15px;}
#extra-button-wrapper a:first-child{margin-left: 0px;}

form#searchform {
	position: absolute;
	background-color: #9c9c9c;
	padding: 3px;
	padding-left: 0px;
	right: 0;
	bottom: 3px;
}
form#searchform input{
	border: none;
	color: #a6a6a6;
	font: 12px BebasRegular;
	width: 150px;
	margin-left: 3px;
	height: 20px;
}

form#searchform #searchsubmit {
	width: 24px;
	margin-left: 0px;
	background: url(images/icon-search.png) no-repeat 0 0px;
}
.ie8 form#searchform input{height: 20px;}
.ie8 form#searchform #searchsubmit {margin-bottom: -6px;}

/* @group Icons */
[class*="icon-"] {
    float: left;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}
.icon-facebook{
	background: url("images/icon-sprite.png") no-repeat scroll 0 0 transparent;
}
.icon-twitter{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -16px transparent;
}
.icon-linkedin{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -32px transparent;
}
.icon-youtube{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -48px transparent;
}
.icon-vimeo{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -128px transparent;
}
.icon-blog{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -81px transparent;
	margin-top: 1px;
	height: 15px;
}
.icon-globe{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -96px transparent;
	margin-top: 1px;
}
.icon-chat{
	background: url("images/icon-sprite.png") no-repeat scroll 0 -112px transparent;
	margin-top: 1px;
}


/* @end */

#social-wrapper{
	background: #fff;
	overflow: hidden;
	width: 930px;
	clear: both;
	padding: 10px;
	font: 13px BebasRegular;
}

#social-wrapper a{
	float: left;
	margin-right: 20px;
}

#social-wrapper span{
	color: #999;
	letter-spacing: 1px;
}

a.post-edit-link{
	display: none;
}
#locations-wrapper{
	border: 5px solid #fff;
	height: 500px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
	margin-bottom: 40px;
}

#locations {position: relative;height: 500px;overflow: hidden;}
#locations iframe {margin-top: -50px;}

/*.mobileDevice #locations-wrapper{height: 615px;}
.mobileDevice #locations {position: relative; height: 615px;overflow: visible;}
.mobileDevice #locations iframe {margin-top: 0px;}*/


.page-177 .content .column p{
	margin-bottom: 0;
}
.sticky p.byline, .sticky p.entry-meta{
	display: none;
}
.category-events .byline{
	display: none;
}
/*#cboxPrevious{margin-left: -36px; !important}
#cboxNext{margin-right: -36px;}*/
#cboxCurrent {bottom: -22px !important}

/* @group PROJECTS PAGE */
.page-179 .widget {
	margin: 0;	
}

.page-179 .widget-inside {
	padding: 10px !important;
	padding-left: 0px !important;
	padding-right: 10px !important;
	padding-bottom: 0px !important;
}
.page-179 .widget-title{
	padding-left: 10px;
	padding-bottom: 0;
	border-bottom: none;
	
}
div.project-nav-wrapper {
	overflow: hidden;
	height: 595px;
	width: 270px;
/*	background-color: #b8b3ae;*/
}
div.project-nav ul{
	padding: 0 0 5px 5px;
	
/*	background: #fff;*/
}

div.jspVerticalBar div.jspTrack{
	background-color: #e8e8e8;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

div.project-nav li{
	float: left;
	margin-right: 15px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	
	
}
div.project-nav li.last{
	margin-right: 0px;
}
div.project-nav li a{
	height: 98px;
	display: block;
	color: #dcd8d3;
	padding-top: 10px;
}
/*.chome div.project-nav li a span, .safari div.project-nav li a span{
	height: 100px;
}*/
div.project-nav li a span{
	position: absolute;
	top: 2px;
	left: 2px;
	color: #666;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	width: 110px;
	height: 100px;
	text-align: center;
	font: italic 13px/16px Georgia;
	display: none;
	margin-top: 10px;
}
div.project-nav li a span > em{
	display: table;
	width: 100%;
	height: 100%;
}
div.project-nav li em > em{
	display: table-cell; 
	vertical-align: middle;
/*	background: #fff;*/
	padding: 5px;
	font-style: italic;
}
div.project-nav li img{
	width: 110px;
	height: auto;
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-webkit-transition: all 0.25s;
	-moz-transition:	all 0.25s;
	-o-transition:	  all 0.25s;
	transition:	  all 0.25s;
}
.ipad div.project-nav *{
	//-moz-box-shadow: none !important;
	//-webkit-box-shadow: none !important;
	//box-shadow: none !important;
}
div.project-nav li.current a img{
	border-color: #5183b1;
}
div.project-nav li img:hover{
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.btn-wrapper {
	display: none;
}
.mobileDevice div.btn-wrapper, .iPad div.btn-wrapper {
	display: block;
	margin: 10px auto 0;
	position: absolute;
	width: 250px;
}
div.btn-wrapper a{
	width: 100px;
	height: 20px;
	margin: 0 !important;
	text-align: center;
	background: none !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.btn-wrapper a:hover{
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.arrow span{ 
	width: 44px;
	height: 20px;
	display: block;
	
	margin: 0 auto;
}
div.btn-wrapper .previous span{ 
	background: url(images/thumb-nav-arrows.png) no-repeat 0 0;
}
div.btn-wrapper .previous:hover span{
	background: url(images/thumb-nav-arrows.png) no-repeat 0 -20px;
}

div.btn-wrapper .next span{ 
	background: url(images/thumb-nav-arrows.png) no-repeat -44px 0;
}
div.btn-wrapper .next:hover span{
	background: url(images/thumb-nav-arrows.png) no-repeat -44px -20px;
}

div.btn-wrapper .next{
	margin-left: 10px;
	float:right;
}

.jspContainer{
	overflow: hidden;
	position: relative;
}

.jspPane{
	position: absolute;
}

.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
/*	background: red;*/
/*	display: none;*/
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-moz-box-shadow: inset 3px 1px 5px rgba(255, 255, 255, 0.21), 1px 2px 3px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: inset 3px 1px 5px rgba(255, 255, 255, 0.21), 1px 2px 3px rgba(0, 0, 0, 0.18);
	box-shadow: inset 3px 1px 5px rgba(255, 255, 255, 0.21), 1px 2px 3px rgba(0, 0, 0, 0.18);
	background-color: #5183b1;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	background-color: none;
/*	background-color: #4d4d4d;*/
}

.jspArrow.jspDisabled
{
	cursor: default;
	opacity: .8;
}

a.jspArrowUp {background: url(images/scrollbuttons.png) no-repeat;}
a.jspArrowUp:hover {background: url(images/scrollbuttons.png) no-repeat -14px 0;}

a.jspArrowDown {background: url(images/scrollbuttons.png) no-repeat 0 -16px;}
a.jspArrowDown:hover {background: url(images/scrollbuttons.png) no-repeat -14px -16px;}

.jspVerticalBar .jspArrow
{
	height: 16px;
}


.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* @end */

div.time-wrapper{
	background: none repeat scroll 0 0 #B7AC96;
    color: #e6e3e0;
    padding: 4px 2px;
    position: absolute;
    text-align: center;
	font: normal 18px BebasRegular;
	z-index: 1;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	top: 20px;
	left: -30px;
	width: 30px;
	font-size: 14px;
}
div.time-wrapper .month{
	color: #FFFFFF;
	font: normal 14px BebasRegular;
}